.container-with-devexpress-styles {
    font-size: var(--dxds-font-size-base-md);
    font-weight: var(--dxds-font-weight-base-default);
    padding: var(--dxds-spacing-160);
    background-color: var(--dxds-color-surface-primary-default-rest);
}

    .container-with-devexpress-styles strong {
        font-weight: var(--dxds-font-weight-base-stronger);
    }

    .container-with-devexpress-styles .utility-blue {
        background-color: var(--dxds-color-surface-utility-blue-default-rest);
    }

    .container-with-devexpress-styles .danger {
        color: var(--dxds-color-content-danger-default-rest);
    }

    .container-with-devexpress-styles .hovered:hover {
        background-color: var(--dxds-color-surface-primary-default-hovered)
    }

.btn-with-custom-background {
    --dxds-color-surface-primary-default-rest: var(--dxds-color-surface-utility-blue-default-rest);
}

.grid-with-custom-styles {
    --dxds-color-surface-neutral-default-hovered: var(--dxds-color-surface-primary-default-hovered);
}

    .grid-with-custom-styles .custom-grid-header {
        background-color: var(--dxds-color-surface-primary-default-rest) !important;
    }
